/* CustomStyle PeterAlfred */


/* 
Aanpassingen ivm layout iphone
*/

/* hoogte header ivm layout iphone */
/*.ui-header .ui-title {
	min-height: 50px;
}*/

/*breedte header titles */
/*.ui-title {
	margin: 0 25%;
}*/

/* plaatsing back button header */
.ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right {
	margin-top: 20px;
}

/* plaatsing title in header */
.ui-header .ui-title {
	margin-top: 20px;
}

/* plaatsing buttons in footer (kleinere margin-top) */
.ui-btn {
	margin-top: 0px;
}