/* CustomStyle PeterAlfred */

/*breedte header titles */
.ui-header .ui-title, .ui-footer .ui-title {
	white-space: pre-wrap;
	/*margin: 0 25%;*/
	margin: 0 25% 0% 25%;
}

/* 
Aanpassingen ivm layout iphone
*/

/* hoogte header ivm layout iphone */
/*.ui-header .ui-title {
	min-height: 50px;
}*/

/* plaatsing back button header */
.ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right {
	/*margin-top: 20px;*/
	position: absolute;
	top: 39%;
}

/* plaatsing title in header */
.ui-header .ui-title {
	margin-top: 20px;
}

/* plaatsing buttons in footer (kleinere margin-top) */
.ui-btn {
	margin-top: 0px;
}