<?xml version="1.0" encoding="utf-8"?>
<!--
       File gemaakt door Peter Alfred.
       25 maart 2014
-->
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" 
    id = "com.soluza.productlistoracle" version = "1.0.0">
	
    <name>ProductList Oracle</name>
    <description>App that displays a List of all Oracle Software Products with a short and simple description of each Product.</description>
    <author href = "http://www.soluza.nl" email = "peter.luteijn@soluza.nl">Peter Alfred</author>
    <feature name = "http://api.phonegap.com/1.0/device"/>
    <preference name = "orientation" value = "default"/>
    <preference name = "target-device" value = "universal"/>
    <preference name = "fullscreen" value = "false"/>
    <preference name="SplashScreen" value="screen" />
    <icon src = "icon.png"/>
</widget>

